html {
    background-color: white;
}

.invoice-list-container {
    background-color: #ffffff;
    color: white;
    height: 100vh;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #ededed;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 900;
    height: 4rem;
  }
  
  .top-title-container {
      display: flex;
      align-items: center;
  }
  
  .top-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
  }
.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}

.content-wrapperr {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 1300px;
    box-sizing: border-box;
    margin-top: 1rem;
}

.search-barr-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.date-picker {
    display: flex;
    align-items: center;
    background-color: #dedede;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    box-sizing: border-box;
    margin-right: 760px;
}

.date-picker input {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.3rem;
    color: #141414;
    background: transparent;
}

.calendar-icon {
    margin-right: 0.6rem;
    font-size: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #dedede;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    padding: 0.3rem;
    color: #141414;
}

.search-icon {
    margin-right: 0.6rem;
    font-size: 1rem;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.invoice-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    background-color: #E6E6E6;
    border-radius: 0.3rem;
    overflow: hidden;
}

.invoice-table th {
    padding: 0.6rem;
    text-align: center;
    font-size: 1rem;
}

.invoice-table td {
    padding: 0.6rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.invoice-table th {
    background-color: #1D3E92;
    font-weight: 600;
}

.invoice-table td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #2b2b2b;
}

.invoice-table tr:last-child td {
    border-bottom: none;
}

.details-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
}

.details-button:hover {
    opacity: 0.8;
    background-color: #8f8f8f;
}

.details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-modal-content {
    background: #fff;
    border: 2px solid #000;
    border-radius: 0;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    height: 650px;
}

.close-details-button {
    position: absolute;
    padding-right: 20px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #000;
    width: 5px;
    top: 2px;
}

.invoice-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
 
    padding-bottom: 0.5rem;
    justify-content: center;
}

.invoice-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-right: 1rem;
}

.invoice-title {
    font-size: 3rem;
    font-weight: bold;
    color: #1D3E92;
    text-transform: uppercase;

}

.invoice-info {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    flex-wrap: wrap;
}

.info-label {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}
.info-name {
    font-size: 1.7rem;
    color: #000;
    font-weight: bold;
   
}

.info-value {
    font-size: 1.2rem;
    color: #000;
    padding-left: 5px;
    
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.details-table th {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.details-table td {
    padding: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
    color: #000;
    border-bottom: 1px solid #000;
}

.details-table th:nth-child(1),
.details-table td:nth-child(1) {
    width: 40%;
}

.details-table th:nth-child(2),
.details-table td:nth-child(2) {
    width: 20%;
}

.details-table th:nth-child(3),
.details-table td:nth-child(3) {
    width: 20%;
}

.details-table th:nth-child(4),
.details-table td:nth-child(4) {
    width: 20%;
}

.invoice-total {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-top: 2px dashed #000;
    padding-top: 2rem;
}

.total-label {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
    margin-right: 0.5rem;
    align-content: center;
    
}

.total-value {
    font-size: 2rem;
    font-weight: bold;
    color: #1D3E92;
    
}

.invoice-footer {
    
    margin-top: 1.5rem;
    border-top: 2px dashed #000;
    padding-top: 0.5rem;
}

.footer-text {
    font-size: 1.7rem;
    color: #000;
    text-align: left;
}

.footer-contact {
    font-size: 1rem;
    color: #000;
    margin-top: 0.3rem;
    text-align: right;
}

.logout-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.649);
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-modal-content {
    background: linear-gradient(to bottom, #1D3C73, #2393AA, #3ED1B7);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 220px;
    position: relative;
}

.logout-modal-header {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.header-text {
    font-size: 18px;
    color: #000;
    line-height: 1;
    margin: 0;
}

.logout-modal-content .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    line-height: 1;
    margin: 0;
}

.logout-message {
    font-size: 22px;
    margin: 40px 0;
    color: #ffffff;
    font-weight: 500;
}

.logout-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-button,
.cancel-button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1D3E92;
    color: white;
    text-transform: uppercase;
    width: 130px;
    font-size: 14px;
}

.confirm-button:hover,
.cancel-button:hover {
    background-color: #357abd;
}

@media (max-width: 768px) {
    .header {
        padding: 0.5rem 1rem;
        height: 3.5rem;
    }

    .header-title {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .menu-icon {
        font-size: 1.2rem;
    }

    .content-wrapper {
        width: 95%;
        padding: 0.5rem;
    }

    .search-bar-container {
        justify-content: flex-end;
    }

    .date-picker,
    .search-bar {
        max-width: 100%;
        margin-bottom: 0.5rem;
    }

    .invoice-table th,
    .invoice-table td {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .menu-icon {
        font-size: 1rem;
    }

    .date-picker input,
    .search-bar input {
        font-size: 0.9rem;
    }

    .invoice-table th,
    .invoice-table td {
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .details-modal-content {
        padding: 1rem;
    }

    .invoice-logo {
        font-size: 1.2rem;
    }

    .invoice-title {
        font-size: 1.5rem;
    }

    .info-label,
    .info-value {
        font-size: 0.9rem;
    }

    .details-table th,
    .details-table td {
        font-size: 0.9rem;
        padding: 0.3rem;
    }

    .total-label,
    .total-value {
        font-size: 1rem;
    }

    .footer-text {
        font-size: 1rem;
    }

    .footer-contact {
        font-size: 0.8rem;
    }
}