body {
  background-color: #e6f7fa;
  margin: 0;
}

.single-room-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.room-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 30px;
}

.room-image img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  height: 493px;
  flex-shrink: 0;
  aspect-ratio: 738.53/493.00;
  width: 738.526px;
}
.room-image img:hover
{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.01);
}

.room-details {
  flex: 1;
}

.section-title-room {
 
background: linear-gradient(to right, #1D3C73, #2393AA, #3ED1B7);
display: flex;
width: 432px;
height: 64px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 28px;
font-weight: 500;
text-transform: uppercase;
margin: 0;


}

.details-list {
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 15px;
}

.details-list li {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-indent: -1.4em;   
    padding-left: 1.4em; 
    color: #000;
}

.quote-room {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #000;
    margin: 0px;

}
.underline_room
{
    height: 1px;
    background-color: black;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 10;
}
.section h1 
{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.section p
{
    color: #000;
    font-family: Inter;
    line-height: normal;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    
}
