/* src/styles/Dashboard.css */
.dashboard-container {
  background-color: #1a1a1a;
  color: white;
  min-height: 100vh;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}


/* Top Header (Trang Chá»§) */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 900;
  height: 70px;
}

.top-title-container {
  display: flex;
  align-items: center;
}

.top-title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-left: 50px;
}

.menu-icon,
.more-icon {
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #2c2c2c;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.debug-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #4a90e2;
  color: white;
  border-radius: 3px;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}

.main-title {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  margin: 50px 0;
}

.month-selector-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0%;
}

.month-selector {
  display: flex;
  justify-content: flex-start;
}

.month-selector select {
  padding: 12px 20px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #fff;
  color: #141414;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  text-align-last: left;
  height: 50px;
  font-weight: bold;
}

.content-wrapper {
  background-color: #001b43;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.stat-card {
  background-color: #002865;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  min-height: 120px;
}

.stat-card h3 {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
}

.stat-card p {
  margin: 8px 0 0;
  font-size: 35px;
  font-weight: 700;
}

.employee-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.employee-card {
  background-color: #002865;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-height: 120px;
}

.employee-card-middle {
  flex: 1.5;
  min-height: 100px;
}

.employee-card .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.employee-card p {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
}